.message_class {
  background: rgba(217, 217, 217, 0.152);
  box-shadow: inset 54.2333px -54.2333px 54.2333px rgba(165, 165, 165, 0.152),
    inset -54.2333px 54.2333px 54.2333px rgba(255, 255, 255, 0.152);
  backdrop-filter: blur(6.508px);
}
